 /*초기화*/
 * {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕'
}

ul, ol {list-style: none;}
a {text-decoration: none; color:#111}
input, textarea {outline: none;}

#container {
    width: 100%;
    height: auto;
    border: 1px solid red;
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/*HEADER*/
header {
    width: 100%;
    height: 80px;
    background: url('../images/header_bg.gif');
}
header > div {
    position: relative;
    width: 1000px;
    height: 80px;
    
    box-sizing: border-box;
    margin: 0 auto;
}

header .logo {
    margin-top: 6px;
}

header .gnb{
    float: right;
    width: 620px;
    
    height: 32px;
    margin-top: 14px;
    overflow: hidden;
}

header .gnb > li{
    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    text-align: right;
}
header .gnb > li > a {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
}
header .gnb > li > a:hover{
    color: #8f1b13;

}

header .latest{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 30px;
    box-sizing: border-box;
    
}
header .latest > a{
    display: inline-block;
    
    box-sizing: border-box;
}
header .latest > a:nth-child(1){
    position: relative;
    top: 4px;

}
header .latest > a:nth-child(2)::before{
    content: url('../images/ico_latest.gif');
}


/*MAIN*/
main{
    width: 1000px;
    height: auto;
    
    margin: 0 auto;
}

main > div{
    overflow: hidden;
    display: block;
    unicode-bidi: isolate;
}
main > div > div{
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}
main > div > .banner{
    float: left;
    width: 588px; 
    height: 320px;
    background: url('../images/main_banner_bg.jpg') no-repeat;
    border: 1px solid green;
    box-sizing: border-box;
    float: left;
}
main > div > .banner > img {
    margin-top: 100px;
    margin-left: 160px;
}
main > div > .call{
    position: relative;
    float: right;
    width: 406px;
    height: 133px;
    background: #f2f2f2;
    
}
main > div > .call > img {
    position: absolute;
}
main > div > .call >img:nth-child(1){
    left: 20px;
    top: 20px;
}
main > div > .call > img:nth-child(2){
    left: 20px;
    top: 46px;
    z-index: 10;
}
main > div > .call > img:nth-child(3){
    left: 30px;
    bottom: 20px;
    z-index: 10;
}
main > div > .call > img:nth-child(4){
    right: 0;
    top: 0;
    z-index: 0;
}



main > div > .qna{
    width: 406px;
    height: 182px;
    padding: 15px;
    box-sizing: border-box;
    float: right;
    margin-top: 5px;
}
main > div > .qna > table{
    width: 100%;
    height: auto;
    border-collapse:collapse;
    border-spacing: 0;
    margin-top: 6px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

main > div > .qna >h3{
    font-weight: bold;
    font-size: 14px;
}
main > div > .qna > table td{
    color: #6a6a6a;
}
main > div > .qna > table td:nth-child(2){
    display: inline-block;
    width: 296px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
td{
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

main > section{
    width: 100%;
    height: auto;
    
    margin-top: 5px;
    overflow: hidden;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
    unicode-bidi: isolate;
}
a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
  
    
}
main > section > aside{
    width: 195px;
    height: 760px;
    border: 1px solid green;
    box-sizing: border-box;
    float: left;
}

main > section > aside > article{
    width: 100%;
    height: 204px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

main > section > aside > a{
    position: relative;
    left: -1px;
    display: block;
    width: 195px;
    height: 83px;
    border: 1px solid #999;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6px;
}
main > section > aside > a > img:nth-child(1){
    position: absolute;
    left: 10px;
    top: 10px;
}
main > section > aside > a > img:nth-child(2){
    float: right;
}

main > section > aside > article > ul > li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}
main > section > aside > article > ul > li > a::before{
    content: url('../images/ico_latest.gif');
}
main > section > aside > article > a{
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #d9d9d9;
    margin-right: 1px;
    margin-bottom: 3px;
    font-size: 0;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 10px center;
}
main > section > aside > article > a:nth-of-type(1){
    background-image: url('../images/aside_quick_court.png');
}
main > section > aside > article > a:nth-of-type(2){
    background-image: url('../images/aside_quick_google.png');
}
main > section > aside > article > a:nth-of-type(3){
    background-image: url('../images/aside_quick_naver_map.png');
}
main > section > aside > article > a:nth-of-type(4){
    background-image: url('../images/aside_quick_naver_subway.png');
}
main > section > article{
    width: 800px;
    height: 250px;
    border: 1px solid green;
    box-sizing: border-box;
    float: right;
    margin-bottom: 5px;
}
main > section > article .notice {
    display: block;
    unicode-bidi: isolate;
}
main > section > article > h3 {
    font-weight: bold;
    font-size: 14px;
    
    
}

/*FOOTER*/
footer {
    display: block;
    unicode-bidi: isolate;
    width: 1000px;
    height: 130px;
    border: 1px solid #d7d7d7;
    border-top: 2px solid #777777;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px;
}
footer > p{
    font-size: 11.5px;
    color: #585858;
    line-height: 20px;
    margin-left: 10px;
}

footer > p > span{
    display: block;
    margin-top: 6px;
    font-weight: bold;
}

